local/
tests/data/2020*
test.csv
*__pycache__*
output/*
input/*
logs/*
config/global_attributes_copy*
config/global_attributes_test*
test_execute.sh
plyfile_test.py
private_notes.txt
config/global_attributes_Nataly.yml
visualise_data*
count_lines*
*png
*.sh
oliver_*
output_*
test_data/
project/
config/config_bulk_conversion_2025.csv
tests/

# Python environment
.venv/
__pycache__/
*.pyc

# IDE settings
.vscode/

# Large data files
*.nc
*.ply
*.las
*.laz
tests/compare_round_trip.py
tests/crop_test_data.py
tests/test_report.md
